In [56]:
import boll

In [65]:
import importlib
importlib.reload(boll)

In [92]:
import yfinance as yf
from datetime import datetime
import pandas as pd

In [58]:
# 티커를 기준으로 데이터 로드
ticker_aapl = yf.Ticker('AAPL')

In [59]:
df_aapl = ticker_aapl.history(
    start = '2020-01-01'
)

In [60]:
type(df_aapl.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [61]:
df_aapl

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-01-02 00:00:00-05:00,71.720996,72.776575,71.466790,72.716049,135480400,0.0,0.0
2020-01-03 00:00:00-05:00,71.941336,72.771752,71.783969,72.009125,146322800,0.0,0.0
2020-01-06 00:00:00-05:00,71.127866,72.621646,70.876075,72.582909,118387200,0.0,0.0
2020-01-07 00:00:00-05:00,72.592586,72.849216,72.021223,72.241539,108872000,0.0,0.0
2020-01-08 00:00:00-05:00,71.943751,73.706271,71.943751,73.403641,132079200,0.0,0.0
...,...,...,...,...,...,...,...
2025-03-18 00:00:00-04:00,214.160004,215.149994,211.490005,212.690002,42432400,0.0,0.0
2025-03-19 00:00:00-04:00,214.220001,218.759995,213.750000,215.240005,54385400,0.0,0.0
2025-03-20 00:00:00-04:00,213.990005,217.490005,212.220001,214.100006,48862900,0.0,0.0
2025-03-21 00:00:00-04:00,211.559998,218.839996,211.279999,218.270004,93954500,0.0,0.0
2025-03-24 00:00:00-04:00,221.000000,221.020996,218.580002,220.729996,42364298,0.0,0.0

In [62]:
df_aapl.index

DatetimeIndex(['2020-01-02 00:00:00-05:00', '2020-01-03 00:00:00-05:00',
               '2020-01-06 00:00:00-05:00', '2020-01-07 00:00:00-05:00',
               '2020-01-08 00:00:00-05:00', '2020-01-09 00:00:00-05:00',
               '2020-01-10 00:00:00-05:00', '2020-01-13 00:00:00-05:00',
               '2020-01-14 00:00:00-05:00', '2020-01-15 00:00:00-05:00',
               ...
               '2025-03-11 00:00:00-04:00', '2025-03-12 00:00:00-04:00',
               '2025-03-13 00:00:00-04:00', '2025-03-14 00:00:00-04:00',
               '2025-03-17 00:00:00-04:00', '2025-03-18 00:00:00-04:00',
               '2025-03-19 00:00:00-04:00', '2025-03-20 00:00:00-04:00',
               '2025-03-21 00:00:00-04:00', '2025-03-24 00:00:00-04:00'],
              dtype='datetime64[ns, America/New_York]', name='Date', length=1313, freq=None)

In [66]:
band_aapl = boll.create_band(df_aapl, _col = 'Close', _start='2020-01-01')

In [68]:
band_aapl.head()

                Close  center  up  down
Date
2020-01-02  72.716049     NaN NaN   NaN
2020-01-03  72.009125     NaN NaN   NaN
2020-01-06  72.582909     NaN NaN   NaN
2020-01-07  72.241539     NaN NaN   NaN
2020-01-08  73.403641     NaN NaN   NaN

In [69]:
trade_aapl = boll.create_trade(band_aapl)

In [71]:
trade_aapl['trade'].value_counts()

trade
       789
buy    524
Name: count, dtype: int64

In [74]:
rtn_aapl, acc_rtn_aapl = boll.create_rtn(trade_aapl)

매수일 : 2020-02-24 00:00:00, 매수가 : 72.36201477050781
매도일 : 2020-04-14 00:00:00, 매도가 : 69.6610107421875
수익율 : 0.9626737310053293
매수일 : 2020-10-30 00:00:00, 매수가 : 106.14926147460938
매도일 : 2020-12-02 00:00:00, 매도가 : 120.22221374511719
수익율 : 1.132577015374469
매수일 : 2021-02-22 00:00:00, 매수가 : 123.25833892822266
매도일 : 2021-04-07 00:00:00, 매도가 : 125.11697387695312
수익율 : 1.0150791821867144
매수일 : 2021-05-04 00:00:00, 매수가 : 125.06807708740234
매도일 : 2021-06-14 00:00:00, 매도가 : 127.85763549804688
수익율 : 1.0223043199800304
매수일 : 2021-09-20 00:00:00, 매수가 : 140.27711486816406
매도일 : 2021-10-19 00:00:00, 매도가 : 145.9886474609375
수익율 : 1.0407160683204904

c:\Users\Owner\Desktop\ubion_project\20250324\boll.py:105: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.9626737310053293' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result.loc[idx, 'rtn'] = rtn

매수일 : 2022-01-19 00:00:00, 매수가 : 163.3712615966797
매도일 : 2022-03-24 00:00:00, 매도가 : 171.29443359375
수익율 : 1.0484979544115325
매수일 : 2022-04-26 00:00:00, 매수가 : 154.2998046875
매도일 : 2022-07-21 00:00:00, 매도가 : 153.09754943847656
수익율 : 0.9922083164560167
매수일 : 2022-08-30 00:00:00, 매수가 : 156.82347106933594
매도일 : 2022-10-25 00:00:00, 매도가 : 150.3397216796875
수익율 : 0.9586557462002496
매수일 : 2022-12-15 00:00:00, 매수가 : 134.93115234375
매도일 : 2023-01-23 00:00:00, 매도가 : 139.48812866210938
수익율 : 1.03377260357749
매수일 : 2023-08-04 00:00:00, 매수가 : 180.42221069335938
매도일 : 2023-08-31 00:00:00, 매도가 : 186.50306701660156
수익율 : 1.03370347974273
매수일 : 2023-10-26 00:00:00, 매수가 : 165.67572021484375
매도일 : 2023-11-10 00:00:00, 매도가 : 185.28753662109375
수익율 : 1.1183747164691238
매수일 : 2024-01-02 00:00:00, 매수가 : 184.53208923339844
매도일 : 2024-05-03 00:00:00, 매도가 : 182.51817321777344
수익율 : 0.9890863641982736
매수일 : 2024-08-05 00:00:00, 매수가 : 208.5690155029297
매도일 : 2024-09-30 00:00:00, 매도가 : 232.48831176757812
수익율 : 1.1146828842576209
매수일 : 2024-11-04 00:00:00, 매수가 : 221.52244567871094
매도일 : 2024-11-26 00:00:00, 매도가 : 234.8018341064453
수익율 : 1.059946017601279
매수일 : 2025-01-10 00:00:00, 매수가 : 236.58987426757812

In [75]:
acc_rtn_aapl

np.float64(1.6400987740655624)

In [77]:
boll.create_rtn(
    boll.create_trade(
        boll.create_band(df_aapl,
                         _col='Close',
                         _start='2022-01-01',
                         _cnt=20)
    )
)

매수일 : 2022-01-19 00:00:00, 매수가 : 163.3712615966797
매도일 : 2022-03-24 00:00:00, 매도가 : 171.29443359375
수익율 : 1.0484979544115325
매수일 : 2022-04-26 00:00:00, 매수가 : 154.2998046875
매도일 : 2022-07-21 00:00:00, 매도가 : 153.09754943847656
수익율 : 0.9922083164560167
매수일 : 2022-08-30 00:00:00, 매수가 : 156.82347106933594
매도일 : 2022-10-25 00:00:00, 매도가 : 150.3397216796875
수익율 : 0.9586557462002496
매수일 : 2022-12-15 00:00:00, 매수가 : 134.93115234375
매도일 : 2023-01-23 00:00:00, 매도가 : 139.48812866210938
수익율 : 1.03377260357749
매수일 : 2023-08-04 00:00:00, 매수가 : 180.42221069335938
매도일 : 2023-08-31 00:00:00, 매도가 : 186.50306701660156
수익율 : 1.03370347974273
매수일 : 2023-10-26 00:00:00, 매수가 : 165.67572021484375
매도일 : 2023-11-10 00:00:00, 매도가 : 185.28753662109375
수익율 : 1.1183747164691238
매수일 : 2024-01-02 00:00:00, 매수가 : 184.53208923339844
매도일 : 2024-05-03 00:00:00, 매도가 : 182.51817321777344
수익율 : 0.9890863641982736

c:\Users\Owner\Desktop\ubion_project\20250324\boll.py:105: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.0484979544115325' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result.loc[idx, 'rtn'] = rtn

매수일 : 2024-08-05 00:00:00, 매수가 : 208.5690155029297
매도일 : 2024-09-30 00:00:00, 매도가 : 232.48831176757812
수익율 : 1.1146828842576209
매수일 : 2024-11-04 00:00:00, 매수가 : 221.52244567871094
매도일 : 2024-11-26 00:00:00, 매도가 : 234.8018341064453
수익율 : 1.059946017601279
매수일 : 2025-01-10 00:00:00, 매수가 : 236.58987426757812

(                 Close      center          up        down trade  rtn  \
 Date
 2022-01-03  178.879898  172.472038  180.676464  164.267611        1.0
 2022-01-04  176.609634  173.178674  180.091136  166.266213        1.0
 2022-01-05  171.911850  173.362458  179.907301  166.817615        1.0
 2022-01-06  169.042084  173.211108  180.016691  166.405526        1.0
 2022-01-07  169.209137  173.093664  180.097543  166.089785        1.0
 ...                ...         ...         ...         ...   ...  ...
 2025-03-18  212.690002  232.457500  258.495777  206.419222   buy  1.0
 2025-03-19  215.240005  230.976000  257.409379  204.542621   buy  1.0
 2025-03-20  214.100006  229.389500  255.877849  202.901152   buy  1.0
 2025-03-21  218.270004  228.025500  253.810140  202.240861   buy  1.0
 2025-03-24  220.729996  226.707000  251.040841  202.373159   buy  1.0

              acc_rtn
 Date
 2022-01-03  1.000000
 2022-01-04  1.000000
 2022-01-05  1.000000
 2022-01-06  1.000000
 2022-01-07  1.000000
 ...              ...
 2025-03-18  1.392871
 2025-03-19  1.392871
 2025-03-20  1.392871
 2025-03-21  1.392871
 2025-03-24  1.392871

 [808 rows x 7 columns],
 np.float64(1.3928705690577001))

In [83]:
trade_20 = boll.create_trade(
    boll.create_band(df_aapl,
                     _col='Close',
                     _start='2022-01-01')
)

In [84]:
trade_30 = boll.create_trade(
    boll.create_band(df_aapl,
                     _col='Close',
                     _start='2022-01-01',
                     _cnt=30)
)

In [87]:
trade_20.drop(
    ['center','up','down'],axis=1, inplace=True
)

In [89]:
trade_30 = trade_30[['Close','trade']]

In [95]:
# trade_20, trade_30 단순한 열 결합
trade_df = \
pd.concat([trade_20,trade_30], axis = 1, ignore_index=True)

In [100]:
# trade_df에 2라는 컬럼 제거
trade_df.drop(2,axis=1,inplace=True)

KeyError: '[2] not found in axis'

In [103]:
# 컬럼 이름 재지정
trade_df.columns = ['Close','trade_20','trade_30']

In [105]:
# trade_20과 trad_30에 둘 다 buy 라는 값이라면
# trade 컬럼에 'buy'가 들어가게 

trade_df['trade'] = ''
for i in trade_df.index:
    if trade_df.loc[i,'trade_20'] =='buy' and trade_df.loc[i,'trade_30'] =='buy':
        trade_df.loc[i,'trade'] = 'buy'
    else:
        trade_df.loc[i,'trade'] = ''

In [109]:
trade_df[['trade']].value_counts()

trade
         512
buy      296
Name: count, dtype: int64

In [117]:
# trade_20, trade_30에 buy가 포함되어 있는가?
flag = trade_df[['trade_20','trade_30']].isin(['buy']).all(axis=1)

In [115]:
trade_df['trade_2'] = ''

In [118]:
trade_df.loc[flag,'trade_2'] = 'buy'

In [120]:
trade_df['trade_2'].value_counts()

trade_2
       512
buy    296
Name: count, dtype: int64

In [121]:
boll.create_rtn(trade_df)

매수일 : 2022-01-19 00:00:00, 매수가 : 163.3712615966797
매도일 : 2022-03-24 00:00:00, 매도가 : 171.29443359375
수익율 : 1.0484979544115325
매수일 : 2022-05-11 00:00:00, 매수가 : 144.3758544921875
매도일 : 2022-07-21 00:00:00, 매도가 : 153.09754943847656
수익율 : 1.0604096507478058
매수일 : 2022-09-29 00:00:00, 매수가 : 140.60914611816406
매도일 : 2022-10-25 00:00:00, 매도가 : 150.3397216796875
수익율 : 1.0692030058510285
매수일 : 2022-12-15 00:00:00, 매수가 : 134.93115234375
매도일 : 2023-01-23 00:00:00, 매도가 : 139.48812866210938
수익율 : 1.03377260357749
매수일 : 2023-08-04 00:00:00, 매수가 : 180.42221069335938
매도일 : 2023-08-31 00:00:00, 매도가 : 186.50306701660156
수익율 : 1.03370347974273
매수일 : 2023-10-26 00:00:00, 매수가 : 165.67572021484375
매도일 : 2023-11-10 00:00:00, 매도가 : 185.28753662109375
수익율 : 1.1183747164691238

c:\Users\Owner\Desktop\ubion_project\20250324\boll.py:105: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.0484979544115325' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result.loc[idx, 'rtn'] = rtn

매수일 : 2024-01-02 00:00:00, 매수가 : 184.53208923339844
매도일 : 2024-05-03 00:00:00, 매도가 : 182.51817321777344
수익율 : 0.9890863641982736
매수일 : 2025-01-16 00:00:00, 매수가 : 228.00930786132812

(                 Close trade_20 trade_30 trade trade_2  rtn   acc_rtn
 Date
 2022-01-03  178.879898                                  1.0  1.000000
 2022-01-04  176.609634                                  1.0  1.000000
 2022-01-05  171.911850                                  1.0  1.000000
 2022-01-06  169.042084                                  1.0  1.000000
 2022-01-07  169.209137                                  1.0  1.000000
 ...                ...      ...      ...   ...     ...  ...       ...
 2025-03-18  212.690002      buy      buy   buy     buy  1.0  1.405219
 2025-03-19  215.240005      buy      buy   buy     buy  1.0  1.405219
 2025-03-20  214.100006      buy      buy   buy     buy  1.0  1.405219
 2025-03-21  218.270004      buy      buy   buy     buy  1.0  1.405219
 2025-03-24  220.729996      buy      buy   buy     buy  1.0  1.405219

 [808 rows x 7 columns],
 np.float64(1.4052188980770286))

### 두 개의 투자 전략을 하나의 class 선언

1. 클래스의 이름은 Invest 상속은 X
2. 생성자 함수
    - 매개변수
        - 주식 데이터 (_df)
        - 기준이 되는 컬럼의 이름 (_col = 'Adj Close')
        - 투자의 시작 시간 (_start = '2010-01-01')
        - 투자의 종료 시간 (_end = 'datetime.now())
    - 결측치, 양의 무한대, 음의 무한대를 제외
    - 컬럼 중 date 컬럼이 존재한다면 date 컬럼을 ㄷ인덱스로 변환
    - index를 시계열 데이터로 변환
        - 종료시간은 문자열인 경우에만 변환
    - index에 tz에 존재한다면 tz를 None으로 변환
    - 기준이 컬럼self.col, 시작시간self.start, 종료시간self.end은 self변수로 생성
3. buyandhold 함수 생성
    - 매개변수 x (self) 생성
    - 데이터프레임을 복사본 생성
    - 시작시간과 종료 시간으로 인덱스 필터, 기준이 되는 컬럼 제외하고 모두 제거
    - 일별 수익율 컬럼을 생성하여 pct_change() + 1 함수를 이용하여 값을 대입
    - 누적 수익율 컬럼을 생성하여 누적 수익율 데이터 대입
    - 만들어진 데이터프레임과 총 누적 수익율을 되돌려 준다.
4. bollinger 함수 생성
    - 매개변수 2개 
        - 신뢰구간(_num = 2)
        - 데이터 개수 (_cnt = 20)
    - 특정컬럼(self.col) 컬럼을 제외한 나머지 컬럼을 제거하고 변수에 저장
    - 이동평균선, 상단밴드, 하단밴드 생성
    - 시작시간, 종료 시간을 기준으로 데이터 필터링
    - 보유 내역 추가
5. 수익율을 계산하는 함수 생성
    - 매개변수 1개 : bollinger()함수의 결과 데이터 프레임
    - 복사본 생성
    - rtn 컬럼을 생성해서 1을 대입
    - 매수, 매도 시기를 확인하여 수익율 대입
    - rtn을 기준으로 누적 수익율을 acc_rtn 컬럼에 대입
    - 만들어진 데이터 프레임과 최종수익율을 되돌려준다.

In [ ]:
class Invest:
    def __init__(self,
                 _df,
                 _col = 'Adj Close',
                 _start = '2010-01-01',
                 _end = datetime.now()
                 ):
        self.df = _df.copy()
        self.col = _col
        self.start = _start
        self.end = _end
        
        #결측치, 양의 무한, 음의 무한 제외
        flag = self.df.isin([np.nan,np.inf,-np.inf]).any(axis=1)
        self.df = self.df.loc[~flag]
        
        # 컬럼 중 'Date'가 있다면 인덱스 재설정
        if 'Date' in self.df.columns:
            self.df.set_index('Date',inplace=True)
            
        # 인덱스 date 타임으로 변환
        self.df.index = pd.to_datetime(self.df.index)
        
        #index에 tz 속성에 값이 존재하면 None으로 변경
        if self.df.index.tz:
            self.df.index = self.df.index.tz_localize(None)
            
        try:
            # 시작 시간은 시계열로 변경
            self.start = datetime.strptime(_start, '%Y-%m-%d')
            
            # 종료 시간이 str인 경우 datetime으로 변환
            if type(self.end) == 'str':
                self.end = datetime.strptime(self.end,'%Y,%m-%d')
        except:
            print('시간의 타입이 맞지 않습니다. 포멧은 YYYY-mm-dd 형식입니다.')
            print('Class를 다시 생성하시기 바랍니다.')

    def buyandhold(self):
        # 시작 시간, 종료 시간, 특정 컬럼을 기준으로 데이터 필터
        result = self.df.loc[self.start : self.end ,[self.col]]
        
        # 일별 수익율 
        result['rtn'] = ((result[self.col]).pct_change() +1).fillna(1)
        
        # 누적 수익율 
        result['acc_rtn'] = result['rtn'].cumprod()
        
        # 총 누적 수익율을 변수에 저장
        acc_rtn = result.iloc[-1,-1]
        return result,acc_rtn

In [146]:
df = pd.read_csv('../csv/AAPL.csv')

In [147]:
test_invest = Invest(df)

In [148]:
test_invest.df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1980-12-12,0.513393,0.515625,0.513393,0.513393,0.410525,117258400.0
1980-12-15,0.488839,0.488839,0.486607,0.486607,0.389106,43971200.0
1980-12-16,0.453125,0.453125,0.450893,0.450893,0.360548,26432000.0
1980-12-17,0.462054,0.464286,0.462054,0.462054,0.369472,21610400.0
1980-12-18,0.475446,0.477679,0.475446,0.475446,0.380182,18362400.0
...,...,...,...,...,...,...
2019-06-18,196.050003,200.289993,195.210007,198.449997,198.449997,26551000.0
2019-06-19,199.679993,199.880005,197.309998,197.869995,197.869995,21124200.0
2019-06-20,200.369995,200.610001,198.029999,199.460007,199.460007,21514000.0
2019-06-21,198.800003,200.850006,198.149994,198.779999,198.779999,47735300.0
2019-06-24,198.539993,200.160004,198.169998,199.169998,199.169998,9025362.0

In [149]:
test_invest.buyandhold()

(             Adj Close       rtn   acc_rtn
 Date
 2010-01-04   26.782711  1.000000  1.000000
 2010-01-05   26.829010  1.001729  1.001729
 2010-01-06   26.402260  0.984094  0.985795
 2010-01-07   26.353460  0.998152  0.983973
 2010-01-08   26.528664  1.006648  0.990515
 ...                ...       ...       ...
 2019-06-18  198.449997  1.023518  7.409631
 2019-06-19  197.869995  0.997077  7.387975
 2019-06-20  199.460007  1.008036  7.447342
 2019-06-21  198.779999  0.996591  7.421952
 2019-06-24  199.169998  1.001962  7.436514

 [2384 rows x 3 columns],
 np.float64(7.436513727083075))