### 할로윈 투자 전략
    - 11월의 첫날에 구매 -> 4월 마지막날에 판매
    - 11월의 첫날에 시작 가격 구매
    - 4월 마지막 날 종가로 판매
    - 판매한 금액 / 구매한 금액
    - 누적 수익률

In [1]:
import pandas as pd
from datetime import datetime
from dateutil.relativedelta import relativedelta

In [2]:
df = pd.read_csv('../csv/AMZN.csv',index_col='Date')

In [3]:
df.head()

                Open      High       Low     Close  Adj Close    Volume
Date
1997-05-15  2.437500  2.500000  1.927083  1.958333   1.958333  72156000
1997-05-16  1.968750  1.979167  1.708333  1.729167   1.729167  14700000
1997-05-19  1.760417  1.770833  1.625000  1.708333   1.708333   6106800
1997-05-20  1.729167  1.750000  1.635417  1.635417   1.635417   5467200
1997-05-21  1.635417  1.645833  1.375000  1.427083   1.427083  18853200

In [4]:
# 인덱스를 시계열데이터로 변경
df.index = pd.to_datetime(df.index)

In [5]:
# 2000년 11월 데이터를 출력하려면?
df.loc['2000-11'].iloc[0,0]

np.float64(35.8125)

In [6]:
# 2001년 4월의 마지막 날의 종가
df.loc['2001-04'].iloc[-1]['Close']

np.float64(15.78)

In [7]:
rtn_list = []
for i in range(2000,2011,1):
    # 구매를 하는 시간
    buy_mon = f'{i}-11'
    sell_mon = f'{i+1}-4'
    # 구매가
    buy = df.loc[buy_mon].iloc[0,0]
    # 판매가
    sell = df.loc[sell_mon].iloc[-1]['Close']
    
    rtn_list.append(sell/buy)

In [8]:
acc_rtn = 1
for i in rtn_list:
    acc_rtn *= i
acc_rtn

np.float64(2.9115898553801114)

In [9]:
# 시계열 데이터에서 시간의 합을 구해보장!
start = datetime(year = 2000, month =11, day = 1)
start

datetime.datetime(2000, 11, 1, 0, 0)

In [10]:
# 5개월 뒤
start + relativedelta(months = 5)

datetime.datetime(2001, 4, 1, 0, 0)

In [11]:
# 시계열 데이터를 문자열로 변경하는 함수 -> strftime('%Y-%m')
halloween_df = pd.DataFrame()

for i in range(2000,2011,1):
    start = datetime(year=i,month=11, day=1)
    end = start + relativedelta(months=5)
    
    # 시계열을 문자열로
    start = start.strftime('%Y-%m')
    end = end.strftime('%Y-%m')

    # start의 첫번째 인덱스
    start_df = df.loc[start].head(1)
    end_df = df.loc[end].tail(1)
    halloween_df = pd.concat([halloween_df,start_df, end_df])

In [12]:
halloween_df = halloween_df[['Open','Close']]

In [13]:
halloween_df

                  Open       Close
Date
2000-11-01   35.812500   37.375000
2001-04-30   15.630000   15.780000
2001-11-01    7.080000    6.950000
2002-04-30   16.129999   16.690001
2002-11-01   19.219999   19.799999
2003-04-30   28.600000   28.690001
2003-11-03   54.799999   56.740002
2004-04-30   46.060001   43.599998
2004-11-01   34.220001   35.099998
2005-04-29   32.860001   32.360001
2005-11-01   39.970001   40.369999
2006-04-28   35.770000   35.209999
2006-11-01   38.130001   37.560001
2007-04-30   61.910000   61.330002
2007-11-01   87.750000   87.650002
2008-04-30   80.900002   78.629997
2008-11-03   56.349998   55.770000
2009-04-30   80.930000   80.519997
2009-11-02  118.660004  118.839996
2010-04-30  141.399994  137.100006
2010-11-01  164.449997  162.580002
2011-04-29  194.380005  195.809998

In [14]:
halloween_df['rtn'] = 1

# 반복문을 이용 수익율 계산
# 인덱스의 위치가 홀수인 경우 수익율 계산
for i in range(1, len(halloween_df),2):
    # 구매한 가격
    buy = halloween_df.iloc[i-1]['Open']
    sell = halloween_df.iloc[i]['Close']
    rtn = sell / buy
    print(rtn)
    halloween_df.iloc[i, 2] = rtn

0.4406282722513089
2.3573447740112994
1.4927160506095758
0.7956204159784748
0.9456458227455924
0.8809106359541997
1.608444804394314
0.8960683418803419
1.4289263506273773
1.155402000492095
1.1906962698211543

C:\Users\Owner\AppData\Local\Temp\ipykernel_39048\708398893.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.4406282722513089' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  halloween_df.iloc[i, 2] = rtn

In [15]:
halloween_df['acc_rtn'] = halloween_df['rtn'].cumprod()

In [16]:
halloween_df

                  Open       Close       rtn   acc_rtn
Date
2000-11-01   35.812500   37.375000  1.000000  1.000000
2001-04-30   15.630000   15.780000  0.440628  0.440628
2001-11-01    7.080000    6.950000  1.000000  0.440628
2002-04-30   16.129999   16.690001  2.357345  1.038713
2002-11-01   19.219999   19.799999  1.000000  1.038713
2003-04-30   28.600000   28.690001  1.492716  1.550503
2003-11-03   54.799999   56.740002  1.000000  1.550503
2004-04-30   46.060001   43.599998  0.795620  1.233612
2004-11-01   34.220001   35.099998  1.000000  1.233612
2005-04-29   32.860001   32.360001  0.945646  1.166560
2005-11-01   39.970001   40.369999  1.000000  1.166560
2006-04-28   35.770000   35.209999  0.880911  1.027635
2006-11-01   38.130001   37.560001  1.000000  1.027635
2007-04-30   61.910000   61.330002  1.608445  1.652894
2007-11-01   87.750000   87.650002  1.000000  1.652894
2008-04-30   80.900002   78.629997  0.896068  1.481106
2008-11-03   56.349998   55.770000  1.000000  1.481106
2009-04-30   80.930000   80.519997  1.428926  2.116392
2009-11-02  118.660004  118.839996  1.000000  2.116392
2010-04-30  141.399994  137.100006  1.155402  2.445283
2010-11-01  164.449997  162.580002  1.000000  2.445283
2011-04-29  194.380005  195.809998  1.190696  2.911590

### 할로윈 투자전략 함수화
- 매개변수 4개
    - 데이터(_df)
    - 시작년도 (_start=2010)
    - 종료 년도(_end = datetime.now())
    - 월(_mon=11)
- 복사본 생성
- 커럼에 Date가 존재하면 Date를 인덱스로
- 인덱스를 시계열 데이터로 변경
- 빈 데이터프레임 생성
- 반복문을 이용하여 시작년도부터 종료 년도까지 반복
    - 시작년도의 월을 포함한 시계열 데이터 생성 (buy_mon)
    - 위에서 만들어진 시계열에서 5개월 뒤라는 시계열 데이터 생성(sell_mon)
    - buy_mon, sell_mon 시계열 데이터에서 년-월의 포멧으로 문자열로 변경
    - buy_mon으로 인덱스를 필터해서 첫번째 인덱스 추출
    - sell_mon으로 인덱스를 필터해서 마지막 인덱스 추출
    - 나온 결과를 빈 데이터프레임에 단순 행 결합 concat()
- 수익율 계산
- 누적 수익율 계산
- 만들어진 데이터프레임과 총 누적수익율을 되돌려줌.

In [17]:
# def hallo(_df,
#           _start = 2010,
#           _end = datetime.now().year,
#           _mon = 11):
#     df = _df.copy()
    
#     #인덱스 변경
#     if 'Date' in df.columns:
#         df.set_index('Date',inplace=True)
    
#     # 인덱스 시계열로 변환
#     df.index=pd.to_datetime(df.index)
    
#     # 빈 데이터프레임 생성
#     bin = pd.DataFrame()
    
#     for i in range(_start,_end):
#         buy_mon = datetime(year=i,month=_mon,day=1)
#         sell_mon = buy_mon + relativedelta(months=5)
        
#         buy_mon = buy_mon.strftime('%Y-%m')
#         sell_mon = sell_mon.strftime('%Y-%m')
        
#         # 인덱스 필터링
#         start_df = df.loc[buy_mon].head(1)
#         end_df = df.loc[sell_mon].tail(1)
#         bin = pd.concat([bin,start_df, end_df])
#     return bin

In [18]:
def halloween(_df,
          _start = 2010,
          _end = datetime.now().year,
          _mon = 11):
    df = _df.copy()
    
    if 'Date' in df.columns:
        df.set_index('Date',inplace=True)
    
    #인덱스를 시계열로 변경
    df.index = pd.to_datetime(df.index,utc=True)
    
    #빈 데이터프레임 생성
    result = pd.DataFrame()
    
    # 반복문을 이용 _start에서 _end까지 반복실행하는 반복문
    for i in range(_start, _end):
        buy_mon = datetime(year=i,month=_mon, day=1)
        sell_mon = buy_mon + relativedelta(months=5)
        
        buy_mon = buy_mon.strftime('%Y-%m')
        sell_mon = sell_mon.strftime('%Y-%m')
        try:
            buy = df.loc[buy_mon].head(1)
            sell = df.loc[sell_mon].tail(1)
            result = pd.concat([result,buy,sell], axis=0)
        except:
            break
        
    # 수익률 계산
    result['rtn'] =1
    for idx in range(1,len(result),2):
        rtn = result.iloc[idx]['Close']/result.iloc[idx-1]['Open']
        result.iloc[idx,-1] = rtn
    # 누적 수익율
    result['rtn'].cumprod()
    # 최종 누적 수익율 변수에 저장
    acc_rtn = result.iloc[-1,-1]
    return result, acc_rtn

In [19]:
dff = pd.read_csv('../csv/AMZN.csv',index_col='Date')

In [20]:
halloween(dff,_mon=4)

C:\Users\Owner\AppData\Local\Temp\ipykernel_39048\717270362.py:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.1565537152454997' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result.iloc[idx,-1] = rtn

(                                  Open         High          Low        Close  \
 Date
 2010-04-01 00:00:00+00:00   135.800003   136.509995   131.179993   131.809998
 2010-09-30 00:00:00+00:00   160.009995   160.929993   155.600006   157.059998
 2011-04-01 00:00:00+00:00   181.580002   183.250000   178.589996   180.130005
 2011-09-30 00:00:00+00:00   218.190002   223.000000   215.210007   216.229996
 2012-04-02 00:00:00+00:00   198.020004   199.899994   197.000000   198.050003
 2012-09-28 00:00:00+00:00   256.140015   257.000000   253.199997   254.320007
 2013-04-01 00:00:00+00:00   266.980011   267.399994   261.010010   261.609985
 2013-09-30 00:00:00+00:00   313.410004   315.309998   311.059998   312.640015
 2014-04-01 00:00:00+00:00   338.089996   344.429993   338.000000   342.989990
 2014-09-30 00:00:00+00:00   321.359985   323.429993   318.510010   322.440002
 2015-04-01 00:00:00+00:00   372.100006   373.160004   368.339996   370.260010
 2015-09-30 00:00:00+00:00   505.440002   512.799988   501.670013   511.890015
 2016-04-01 00:00:00+00:00   590.489990   599.030029   588.299988   598.500000
 2016-09-30 00:00:00+00:00   832.609985   839.950012   832.400024   837.309998
 2017-04-03 00:00:00+00:00   888.000000   893.489990   885.419983   891.510010
 2017-09-29 00:00:00+00:00   960.109985   964.830017   958.380005   961.349976
 2018-04-02 00:00:00+00:00  1417.619995  1421.359985  1355.000000  1371.989990
 2018-09-28 00:00:00+00:00  2004.410034  2026.520020  1996.459961  2003.000000

                              Adj Close    Volume       rtn
 Date
 2010-04-01 00:00:00+00:00   131.809998   8785800  1.000000
 2010-09-30 00:00:00+00:00   157.059998   7606000  1.156554
 2011-04-01 00:00:00+00:00   180.130005   5684100  1.000000
 2011-09-30 00:00:00+00:00   216.229996   6550300  1.190825
 2012-04-02 00:00:00+00:00   198.050003   6430300  1.000000
 2012-09-28 00:00:00+00:00   254.320007   2456600  1.284315
 2013-04-01 00:00:00+00:00   261.609985   2524800  1.000000
 2013-09-30 00:00:00+00:00   312.640015   1623600  1.171024
 2014-04-01 00:00:00+00:00   342.989990   3600100  1.000000
 2014-09-30 00:00:00+00:00   322.440002   2636200  0.953711
 2015-04-01 00:00:00+00:00   370.260010   2451100  1.000000
 2015-09-30 00:00:00+00:00   511.890015   3990400  1.375679
 2016-04-01 00:00:00+00:00   598.500000   2917400  1.000000
 2016-09-30 00:00:00+00:00   837.309998   4430600  1.417992
 2017-04-03 00:00:00+00:00   891.510010   3422300  1.000000
 2017-09-29 00:00:00+00:00   961.349976   2543800  1.082601
 2018-04-02 00:00:00+00:00  1371.989990  10463600  1.000000
 2018-09-28 00:00:00+00:00  2003.000000   4085100  1.412932  ,
 np.float64(1.412931538116461))

In [21]:
acc= []
for i in range(1,13):
    hw_df, acc_rtn = halloween(df, _mon=i)
    # print(f'{i}월부터 6개월 투자한 수익율 : {acc_rtn}')
    acc.append(acc_rtn)
max(acc)

C:\Users\Owner\AppData\Local\Temp\ipykernel_39048\717270362.py:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.8019082715596331' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result.iloc[idx,-1] = rtn
C:\Users\Owner\AppData\Local\Temp\ipykernel_39048\717270362.py:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.9570547085565838' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result.iloc[idx,-1] = rtn
C:\Users\Owner\AppData\Local\Temp\ipykernel_39048\717270362.py:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.051642840395354' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result.iloc[idx,-1] = rtn
C:\Users\Owner\AppData\Local\Temp\ipykernel_39048\717270362.py:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.1565537152454997' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result.iloc[idx,-1] = rtn
C:\Users\Owner\AppData\Local\Temp\ipykernel_39048\717270362.py:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.2043002887237673' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result.iloc[idx,-1] = rtn
C:\Users\Owner\AppData\Local\Temp\ipykernel_39048\717270362.py:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.4035367896012099' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result.iloc[idx,-1] = rtn
C:\Users\Owner\AppData\Local\Temp\ipykernel_39048\717270362.py:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.652892531627318' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result.iloc[idx,-1] = rtn
C:\Users\Owner\AppData\Local\Temp\ipykernel_39048\717270362.py:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.4237515413554083' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result.iloc[idx,-1] = rtn
C:\Users\Owner\AppData\Local\Temp\ipykernel_39048\717270362.py:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.371399110704344' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result.iloc[idx,-1] = rtn
C:\Users\Owner\AppData\Local\Temp\ipykernel_39048\717270362.py:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.1467405316177677' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result.iloc[idx,-1] = rtn
C:\Users\Owner\AppData\Local\Temp\ipykernel_39048\717270362.py:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.1906962698211543' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result.iloc[idx,-1] = rtn
C:\Users\Owner\AppData\Local\Temp\ipykernel_39048\717270362.py:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.097845487880208' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result.iloc[idx,-1] = rtn

np.float64(1.412931538116461)

In [22]:
max_rtn=0
max_mon = ''
for i in range(1,13):
    hw_df, acc_rtn = halloween(df,_mon=i)
    if acc_rtn > max_rtn:
        max_mon = i
        max_rtn = acc_rtn
    
    if i == 12:
        print(f'12개월 중 가장 높은 수익율은 {max_mon}월부터 6개월 투자한 수익율 :{max_rtn}')

C:\Users\Owner\AppData\Local\Temp\ipykernel_39048\717270362.py:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.8019082715596331' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result.iloc[idx,-1] = rtn
C:\Users\Owner\AppData\Local\Temp\ipykernel_39048\717270362.py:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.9570547085565838' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result.iloc[idx,-1] = rtn
C:\Users\Owner\AppData\Local\Temp\ipykernel_39048\717270362.py:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.051642840395354' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result.iloc[idx,-1] = rtn
C:\Users\Owner\AppData\Local\Temp\ipykernel_39048\717270362.py:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.1565537152454997' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result.iloc[idx,-1] = rtn
C:\Users\Owner\AppData\Local\Temp\ipykernel_39048\717270362.py:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.2043002887237673' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result.iloc[idx,-1] = rtn
C:\Users\Owner\AppData\Local\Temp\ipykernel_39048\717270362.py:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.4035367896012099' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result.iloc[idx,-1] = rtn
C:\Users\Owner\AppData\Local\Temp\ipykernel_39048\717270362.py:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.652892531627318' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result.iloc[idx,-1] = rtn
C:\Users\Owner\AppData\Local\Temp\ipykernel_39048\717270362.py:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.4237515413554083' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result.iloc[idx,-1] = rtn
C:\Users\Owner\AppData\Local\Temp\ipykernel_39048\717270362.py:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.371399110704344' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result.iloc[idx,-1] = rtn
C:\Users\Owner\AppData\Local\Temp\ipykernel_39048\717270362.py:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.1467405316177677' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result.iloc[idx,-1] = rtn
C:\Users\Owner\AppData\Local\Temp\ipykernel_39048\717270362.py:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.1906962698211543' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result.iloc[idx,-1] = rtn
C:\Users\Owner\AppData\Local\Temp\ipykernel_39048\717270362.py:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.097845487880208' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result.iloc[idx,-1] = rtn

12개월 중 가장 높은 수익율은 4월부터 6개월 투자한 수익율 :1.412931538116461

In [23]:
ac = {}
for i in range(1,13):
    hw_df,acc_rtn = halloween(df,_mon=i)
    ac[i] = acc_rtn
    
sorted(ac.items(), key=lambda x: x[1], reverse=True)[0]

C:\Users\Owner\AppData\Local\Temp\ipykernel_39048\717270362.py:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.8019082715596331' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result.iloc[idx,-1] = rtn
C:\Users\Owner\AppData\Local\Temp\ipykernel_39048\717270362.py:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.9570547085565838' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result.iloc[idx,-1] = rtn
C:\Users\Owner\AppData\Local\Temp\ipykernel_39048\717270362.py:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.051642840395354' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result.iloc[idx,-1] = rtn
C:\Users\Owner\AppData\Local\Temp\ipykernel_39048\717270362.py:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.1565537152454997' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result.iloc[idx,-1] = rtn
C:\Users\Owner\AppData\Local\Temp\ipykernel_39048\717270362.py:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.2043002887237673' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result.iloc[idx,-1] = rtn
C:\Users\Owner\AppData\Local\Temp\ipykernel_39048\717270362.py:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.4035367896012099' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result.iloc[idx,-1] = rtn
C:\Users\Owner\AppData\Local\Temp\ipykernel_39048\717270362.py:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.652892531627318' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result.iloc[idx,-1] = rtn
C:\Users\Owner\AppData\Local\Temp\ipykernel_39048\717270362.py:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.4237515413554083' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result.iloc[idx,-1] = rtn
C:\Users\Owner\AppData\Local\Temp\ipykernel_39048\717270362.py:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.371399110704344' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result.iloc[idx,-1] = rtn
C:\Users\Owner\AppData\Local\Temp\ipykernel_39048\717270362.py:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.1467405316177677' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result.iloc[idx,-1] = rtn
C:\Users\Owner\AppData\Local\Temp\ipykernel_39048\717270362.py:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.1906962698211543' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result.iloc[idx,-1] = rtn
C:\Users\Owner\AppData\Local\Temp\ipykernel_39048\717270362.py:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.097845487880208' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result.iloc[idx,-1] = rtn

(4, np.float64(1.412931538116461))