### MongoDB python 연동

- 라이브러리 설치(pymongo)
- 라이브러리 로드
- 서버와의 연결

In [2]:
# 라이브러리 설치
# !pip install pymongo

In [3]:
from pymongo import MongoClient

In [4]:
# 서버와의 연결
# 객체 생성 -> Class 생성
client = MongoClient(
    host = '127.0.0.1',
    port = 27017
)

In [5]:
# 데이터베이스의 목록을 확인
client.list_database_names()

['admin', 'config', 'local', 'ubion', 'ubion2']

In [6]:
# 기존에 존재하지 않은 데이터베이스 선택하기
db = client['ubion2']

In [7]:
# collection 생성
collection = db['users']

In [8]:
# 데이터 대입
data = {
    'id' : 'test',
    'pass' : '1234'
}
collection.insert_one(data)

InsertOneResult(ObjectId('67ef5dc1d9eb0200a1f317d8'), acknowledged=True)

In [9]:
# value 값이 생성되었으므로, 데이터 베이스에 표시됨.
client.list_database_names()

['admin', 'config', 'local', 'ubion', 'ubion2']

In [10]:
data = [
    {
        'name' : 'kim',
        'phone' : '01011112222',
        'gender' : 'male'
    },
    {
        'loc' : 'seoul'
    }
]
collection.insert_many(data)

InsertManyResult([ObjectId('67ef5dc1d9eb0200a1f317d9'), ObjectId('67ef5dc1d9eb0200a1f317da')], acknowledged=True)

In [11]:
# collection에 원소들을 리스트 형태로 보여줌.
list(collection.find())

[{'_id': ObjectId('67ef436287444e95c4a3622c'),
  'name': 'kim',
  'phone': '01011112222',
  'gender': 'male'},
 {'_id': ObjectId('67ef436287444e95c4a3622d'), 'loc': 'seoul'},
 {'_id': ObjectId('67ef5dc1d9eb0200a1f317d8'), 'id': 'test', 'pass': '1234'},
 {'_id': ObjectId('67ef5dc1d9eb0200a1f317d9'),
  'name': 'kim',
  'phone': '01011112222',
  'gender': 'male'},
 {'_id': ObjectId('67ef5dc1d9eb0200a1f317da'), 'loc': 'seoul'}]

In [12]:
# 하나만 보여주기
collection.find_one()

{'_id': ObjectId('67ef436287444e95c4a3622c'),
 'name': 'kim',
 'phone': '01011112222',
 'gender': 'male'}

In [13]:
# find()함수는 인자값으로 옵션의 값들을 대입
# 작성 부분은 조건이 됨.
list(
    collection.find({
        'name' : 'kim'
    })
)

[{'_id': ObjectId('67ef436287444e95c4a3622c'),
  'name': 'kim',
  'phone': '01011112222',
  'gender': 'male'},
 {'_id': ObjectId('67ef5dc1d9eb0200a1f317d9'),
  'name': 'kim',
  'phone': '01011112222',
  'gender': 'male'}]

In [14]:
# find()함수는 인자값으로 옵션의 값들을 대입

# 조건에 일치하는 원소의 _id를 0으로 수정
list(
    collection.find({
        'name' : 'kim'      #조건
    },
    {
        '_id' : 0
    })
)

[{'name': 'kim', 'phone': '01011112222', 'gender': 'male'},
 {'name': 'kim', 'phone': '01011112222', 'gender': 'male'}]

In [15]:
collection.update_one(
    {
        'id' : 'test'
    },
    {
        '$set' : {'pass' : '0000'}
    }
)
# SQL에서 생각해보면 UPDATE 'users' SET 'PASS' = '0000' WHERE 'id' = 'test'

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [16]:
list(
    collection.find()
)

[{'_id': ObjectId('67ef436287444e95c4a3622c'),
  'name': 'kim',
  'phone': '01011112222',
  'gender': 'male'},
 {'_id': ObjectId('67ef436287444e95c4a3622d'), 'loc': 'seoul'},
 {'_id': ObjectId('67ef5dc1d9eb0200a1f317d8'), 'id': 'test', 'pass': '0000'},
 {'_id': ObjectId('67ef5dc1d9eb0200a1f317d9'),
  'name': 'kim',
  'phone': '01011112222',
  'gender': 'male'},
 {'_id': ObjectId('67ef5dc1d9eb0200a1f317da'), 'loc': 'seoul'}]

In [17]:
# 삭제
collection.delete_one(
    {
        'id' : 'test'
    }
)
# SQL -> DELETE FROM 'users' WHERE 'id' = 'test'

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

In [18]:
list(
    collection.find()
)

[{'_id': ObjectId('67ef436287444e95c4a3622c'),
  'name': 'kim',
  'phone': '01011112222',
  'gender': 'male'},
 {'_id': ObjectId('67ef436287444e95c4a3622d'), 'loc': 'seoul'},
 {'_id': ObjectId('67ef5dc1d9eb0200a1f317d9'),
  'name': 'kim',
  'phone': '01011112222',
  'gender': 'male'},
 {'_id': ObjectId('67ef5dc1d9eb0200a1f317da'), 'loc': 'seoul'}]

#### mongoDB select 조건식
- find(옵션1, 옵션2,...)
    1. db.collection.find() -> SELECT * FROM TABLE
    2. db.collection.find({ 'id' : 'test, pass' : '1234'}) -> SELECT * FROM TABLE WHERE `id` = 'test' `pass` = '1234'
    3. db.collection.find({ 'id' : 'test' },{ 'pass' : '1234' }) -> SELECT * FROM TABLE WHERE `id` = 'test' OR `pass` = '1234'
    4. db.collection.find({},{'id' : 1, 'pass' : 1}) -> SELECT `id`,`pass` FROM TABLE
    5. db.collection.find({}, {'id' : 0}) -> id컬럼을 제외한 sql 쿼리문
    6. db.collection.find({'age':{'$gt' : 25 }}) -> SELECT * FROM TABLE WHERE `age` > 25
    7. db.collection.find({'age' : {'$lt' : 25}}) -> SELECT * FROM TABLE WHERE `age` < 25 
    8. db.collection.find({'id' : {/bc/}}) -> SELECT * FROM TABLE WHERE `id` LIKE '%bc%'
    9. db.collection.find().sort({'id' : 1}) -> SELECT * FROM TABLE ORDER BY `id` ASC
    10. db.collection.find().sort({'id' : -1}) -> SELECT * FROM TABLE ORDER BY `id` DESC
    11. db.collection.find().limit(10) -> SELECT * FROM TABLE LIMIT 10

In [19]:
# mongoDB에서 admin 데이터벵스에서 test라는 collection에 있는 데이터 중
# SAL의 값이 1500보다 큰 데이터에서 NAME을 기준으로 내림차순
db2 = client['admin']

In [20]:
db2.list_collection_names()

['test', 'system.version']

In [21]:
# collection에 원소들을 리스트 형태로 보여줌.
collection2 = db2['test']

In [23]:
list(collection2.find())

[{'_id': ObjectId('67ef2a5f2cf3b54b812b117a'),
  'EMPNO': 7369.0,
  'ENAME': 'SMITH',
  'JOB': 'CLERK',
  'MGR': 7902.0,
  'HIREDATE': datetime.datetime(1980, 12, 17, 0, 0),
  'SAL': 800.0,
  'COMM': 0.0,
  'DEPTNO': 20.0},
 {'_id': ObjectId('67ef2a5f2cf3b54b812b117b'),
  'EMPNO': 7499.0,
  'ENAME': 'ALLEN',
  'JOB': 'SALESMAN',
  'MGR': 7698.0,
  'HIREDATE': datetime.datetime(1981, 2, 20, 0, 0),
  'SAL': 1600.0,
  'COMM': 300.0,
  'DEPTNO': 30.0},
 {'_id': ObjectId('67ef2a5f2cf3b54b812b117c'),
  'EMPNO': 7521.0,
  'ENAME': 'WARD',
  'JOB': 'SALESMAN',
  'MGR': 7698.0,
  'HIREDATE': datetime.datetime(1981, 2, 22, 0, 0),
  'SAL': 1250.0,
  'COMM': 500.0,
  'DEPTNO': 30.0},
 {'_id': ObjectId('67ef2a5f2cf3b54b812b117d'),
  'EMPNO': 7566.0,
  'ENAME': 'JONES',
  'JOB': 'MANAGER',
  'MGR': 7839.0,
  'HIREDATE': datetime.datetime(1981, 4, 2, 0, 0),
  'SAL': 2975.0,
  'COMM': 0.0,
  'DEPTNO': 20.0},
 {'_id': ObjectId('67ef2a5f2cf3b54b812b117e'),
  'EMPNO': 7654.0,
  'ENAME': 'MARTIN',
  'JOB': 'SALESMAN',
  'MGR': 7698.0,
  'HIREDATE': datetime.datetime(1981, 9, 28, 0, 0),
  'SAL': 1250.0,
  'COMM': 1400.0,
  'DEPTNO': 30.0},
 {'_id': ObjectId('67ef2a5f2cf3b54b812b117f'),
  'EMPNO': 7698.0,
  'ENAME': 'BLAKE',
  'JOB': 'MANAGER',
  'MGR': 7839.0,
  'HIREDATE': datetime.datetime(1981, 5, 1, 0, 0),
  'SAL': 2850.0,
  'COMM': 0.0,
  'DEPTNO': 30.0},
 {'_id': ObjectId('67ef2a5f2cf3b54b812b1180'),
  'EMPNO': 7782.0,
  'ENAME': 'CLARK',
  'JOB': 'MANAGER',
  'MGR': 7839.0,
  'HIREDATE': datetime.datetime(1981, 6, 9, 0, 0),
  'SAL': 2450.0,
  'COMM': 0.0,
  'DEPTNO': 10.0},
 {'_id': ObjectId('67ef2a5f2cf3b54b812b1181'),
  'EMPNO': 7788.0,
  'ENAME': 'SCOTT',
  'JOB': 'ANALYST',
  'MGR': 7566.0,
  'HIREDATE': datetime.datetime(1987, 6, 28, 0, 0),
  'SAL': 3000.0,
  'COMM': 0.0,
  'DEPTNO': 20.0},
 {'_id': ObjectId('67ef2a5f2cf3b54b812b1182'),
  'EMPNO': 7839.0,
  'ENAME': 'KING',
  'JOB': 'PRESIDENT',
  'MGR': 0.0,
  'HIREDATE': datetime.datetime(1981, 11, 17, 0, 0),
  'SAL': 5000.0,
  'COMM': 0.0,
  'DEPTNO': 10.0},
 {'_id': ObjectId('67ef2a5f2cf3b54b812b1183'),
  'EMPNO': 7844.0,
  'ENAME': 'TURNER',
  'JOB': 'SALESMAN',
  'MGR': 7698.0,
  'HIREDATE': datetime.datetime(1981, 9, 8, 0, 0),
  'SAL': 1500.0,
  'COMM': 0.0,
  'DEPTNO': 30.0},
 {'_id': ObjectId('67ef2a5f2cf3b54b812b1184'),
  'EMPNO': 7876.0,
  'ENAME': 'ADAMS',
  'JOB': 'CLERK',
  'MGR': 7788.0,
  'HIREDATE': datetime.datetime(1987, 7, 13, 0, 0),
  'SAL': 1100.0,
  'COMM': 0.0,
  'DEPTNO': 20.0},
 {'_id': ObjectId('67ef2a5f2cf3b54b812b1185'),
  'EMPNO': 7900.0,
  'ENAME': 'JAMES',
  'JOB': 'CLERK',
  'MGR': 7698.0,
  'HIREDATE': datetime.datetime(1981, 12, 3, 0, 0),
  'SAL': 950.0,
  'COMM': 0.0,
  'DEPTNO': 30.0},
 {'_id': ObjectId('67ef2a5f2cf3b54b812b1186'),
  'EMPNO': 7902.0,
  'ENAME': 'FORD',
  'JOB': 'ANALYST',
  'MGR': 7566.0,
  'HIREDATE': datetime.datetime(1981, 12, 3, 0, 0),
  'SAL': 3000.0,
  'COMM': 0.0,
  'DEPTNO': 20.0},
 {'_id': ObjectId('67ef2a5f2cf3b54b812b1187'),
  'EMPNO': 7934.0,
  'ENAME': 'MILLER',
  'JOB': 'CLERK',
  'MGR': 7782.0,
  'HIREDATE': datetime.datetime(1982, 1, 23, 0, 0),
  'SAL': 1300.0,
  'COMM': 0.0,
  'DEPTNO': 10.0},
 {'_id': ObjectId('67ef2a952cf3b54b812b1188'),
  'DEPTNO': 10.0,
  'DNAME': 'ACCOUNTING',
  'LOC': 'NEW YORK'},
 {'_id': ObjectId('67ef2a952cf3b54b812b1189'),
  'DEPTNO': 20.0,
  'DNAME': 'RESEARCH',
  'LOC': 'DALLAS'},
 {'_id': ObjectId('67ef2a952cf3b54b812b118a'),
  'DEPTNO': 30.0,
  'DNAME': 'SALES',
  'LOC': 'CHICAGO'},
 {'_id': ObjectId('67ef2a952cf3b54b812b118b'),
  'DEPTNO': 40.0,
  'DNAME': 'OPERATIONS',
  'LOC': 'BOSTON'}]

In [32]:
list(collection2.find({'SAL':{'$gt' : 1500 }}).sort({'ENAME':-1}))

[{'_id': ObjectId('67ef2a5f2cf3b54b812b1181'),
  'EMPNO': 7788.0,
  'ENAME': 'SCOTT',
  'JOB': 'ANALYST',
  'MGR': 7566.0,
  'HIREDATE': datetime.datetime(1987, 6, 28, 0, 0),
  'SAL': 3000.0,
  'COMM': 0.0,
  'DEPTNO': 20.0},
 {'_id': ObjectId('67ef2a5f2cf3b54b812b1182'),
  'EMPNO': 7839.0,
  'ENAME': 'KING',
  'JOB': 'PRESIDENT',
  'MGR': 0.0,
  'HIREDATE': datetime.datetime(1981, 11, 17, 0, 0),
  'SAL': 5000.0,
  'COMM': 0.0,
  'DEPTNO': 10.0},
 {'_id': ObjectId('67ef2a5f2cf3b54b812b117d'),
  'EMPNO': 7566.0,
  'ENAME': 'JONES',
  'JOB': 'MANAGER',
  'MGR': 7839.0,
  'HIREDATE': datetime.datetime(1981, 4, 2, 0, 0),
  'SAL': 2975.0,
  'COMM': 0.0,
  'DEPTNO': 20.0},
 {'_id': ObjectId('67ef2a5f2cf3b54b812b1186'),
  'EMPNO': 7902.0,
  'ENAME': 'FORD',
  'JOB': 'ANALYST',
  'MGR': 7566.0,
  'HIREDATE': datetime.datetime(1981, 12, 3, 0, 0),
  'SAL': 3000.0,
  'COMM': 0.0,
  'DEPTNO': 20.0},
 {'_id': ObjectId('67ef2a5f2cf3b54b812b1180'),
  'EMPNO': 7782.0,
  'ENAME': 'CLARK',
  'JOB': 'MANAGER',
  'MGR': 7839.0,
  'HIREDATE': datetime.datetime(1981, 6, 9, 0, 0),
  'SAL': 2450.0,
  'COMM': 0.0,
  'DEPTNO': 10.0},
 {'_id': ObjectId('67ef2a5f2cf3b54b812b117f'),
  'EMPNO': 7698.0,
  'ENAME': 'BLAKE',
  'JOB': 'MANAGER',
  'MGR': 7839.0,
  'HIREDATE': datetime.datetime(1981, 5, 1, 0, 0),
  'SAL': 2850.0,
  'COMM': 0.0,
  'DEPTNO': 30.0},
 {'_id': ObjectId('67ef2a5f2cf3b54b812b117b'),
  'EMPNO': 7499.0,
  'ENAME': 'ALLEN',
  'JOB': 'SALESMAN',
  'MGR': 7698.0,
  'HIREDATE': datetime.datetime(1981, 2, 20, 0, 0),
  'SAL': 1600.0,
  'COMM': 300.0,
  'DEPTNO': 30.0}]