# 문제1
- 반복문을 이용하여 구구단을 구구단을 출력하시오

In [ ]:
for i in range(1,10):
    for j in range(1,10):
        print(f'{j}*{i}={i*j}',end='\t')
    print('')

1*1=1	2*1=2	3*1=3	4*1=4	5*1=5	6*1=6	7*1=7	8*1=8	9*1=9
1*2=2	2*2=4	3*2=6	4*2=8	5*2=10	6*2=12	7*2=14	8*2=16	9*2=18
1*3=3	2*3=6	3*3=9	4*3=12	5*3=15	6*3=18	7*3=21	8*3=24	9*3=27
1*4=4	2*4=8	3*4=12	4*4=16	5*4=20	6*4=24	7*4=28	8*4=32	9*4=36
1*5=5	2*5=10	3*5=15	4*5=20	5*5=25	6*5=30	7*5=35	8*5=40	9*5=45
1*6=6	2*6=12	3*6=18	4*6=24	5*6=30	6*6=36	7*6=42	8*6=48	9*6=54
1*7=7	2*7=14	3*7=21	4*7=28	5*7=35	6*7=42	7*7=49	8*7=56	9*7=63
1*8=8	2*8=16	3*8=24	4*8=32	5*8=40	6*8=48	7*8=56	8*8=64	9*8=72
1*9=9	2*9=18	3*9=27	4*9=36	5*9=45	6*9=54	7*9=63	8*9=72	9*9=81

# 문제2
- 두 개의 주사위의 합이 8인 모든 경우의 수를 출력하시오

In [ ]:
cnt_8 = 0
# 첫 번째 주사위
for i in range(1,7)
    # 두 번째 주사위
    for j in range(1,7):
        sum = i + j
        if(sum == 8):
            cnt_8 += 1
            print(i, j)
print(f'두 개의 주사위의 합이 8인 경우의 수 : {cnt_8}')

2 6
3 5
4 4
5 3
6 2
두 개의 주사위의 합이 8인 경우의 수 : 5

# 문제3
- 2부터 50까지의 숫자들중 소수를 리스트의 형태로 출력하시오
    - 소수는 1과 자기 자신 외에는 나누어지지 않는 수이다.
    - 2부터 50까지 반복을 하면서 2부터 시작하여 자기 자신의 -1 까지 나누어 나머지 값이 0 존재하지 않는 수들을 리스트에 담아서 출력하시오

In [134]:
sosu = []

for i in range(2,51):
    zero_cnt=0
    for j in range(2,i):
        if i % j == 0:
            zero_cnt += 1
    if zero_cnt == 0:
        sosu.append(i)
sosu

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

# 문제4
- +,-를 번갈아가면서 출력하시오
- input를 이용하여 받은 총 출력 횟수를 이용하여 +-를 반복하여 줄 바꿈 없이 한줄로 출력하시오
    - 예시) 입력값 : 5 , 출력 : +-+-+

In [ ]:
# 7입력
n = int(input('총 출력할 횟수를 입력하시오 : '))

총 출력할 횟수를 입력하시오 : 7

In [ ]:
for i in range(1,n+1):
    # 홀수면 ?
    if i % 2 != 0:
        print('+',end='')
    # 짝수면 ?
    if i % 2 == 0:
        print('-',end='')

+-+-+-+

# 문제5
- 중복된 문자열을 제거하시오
- Level_Text라는 문자열에서 중복이 되고 있는 문자열을 제거하고 새로운 문자열을 생성하라
- 입력 값 : Level_Test , 출력 값 : Levl_Tst

In [ ]:
text = "Level_Test"

# 문제6
- 숫자형 데이터를 반대로 뒤집어서 출력하는 함수를 생성하시오
- 음수형 데이터도 적용이 가능하도록 코드를 작성하시오
- 예시)
    - 입력값 : 12345, 출력값 : 54321
    - 입력값 : -9876, 출력값 : -6789

In [128]:
def reverce_num(_num):
    num = str(_num)
    result =''
    if _num < 0:
        print('-',end='')
    for i in range(len(num)-1,-1,-1):
        if num[i] == '-':
            break
        result += num[i]
    return result

In [129]:
print(reverce_num(12345))
print(reverce_num(-9876))

54321
-6789

# 문제7
- 특정 숫자를 입력하면 2진수로 변환을 하는 함수를 생성하시오
- 매개변수는 1개로 함수 호출 시 인자 값을 2진수로 변환하여 되돌려주는 함수를 생성하시오
- 인자 값이 0인 경우에는 0을 되돌려주고 양수인 경우와 음수인 경우를 모두 생각해서 함수를 구성하시오

In [106]:
  def binary(num):
      if num == 0:
          return '0'
      #양수
      result = ''
      if num > 0:
          while num > 0:
              remain = num % 2
              result = str(remain) + result
              num = num // 2
          return result
      #음수
      else:
          num = -num  # 절댓값 변환
          while num > 0:
              remain = num % 2
              result = str(remain) + result
              num = num // 2

          # 1의 보수
          ones = result.replace('0', 'x').replace('1', '0').replace('x', '1')

          # 1의 보수에 +1
          twos = ''
          plus = 1
          for i in range(len(ones) - 1, -1, -1):
              if ones[i] == '1' and plus == 1:
                  twos = '0' + twos
              elif ones[i] == '0' and plus == 1:
                  twos = '1' + twos
                  plus = 0  # 더하기 끝
              else:
                  twos = ones[i] + twos

          twos = '1' + twos

          return twos

In [108]:
print(binary(10))
print(binary(-8))
print(binary(0))

1010
11000
0

# 문제8
- list에는 reverse() 함수가 존재한다.
- 리스트의 역순으로 되돌려주는 함수를 생성하시오
- 역순으로 변경하는 방법으로 첫 원소와 마지막 원소를 변경해 주는 방식으로 반복 횟수는 리스트의 총 길이에서 2로 나눈 몫의 값 만큼 반복 실행

In [117]:
def reverse_list(list):
    for i in range(len(list)//2):
        # list[i],list[len(list)-1-i] = list[len(list)-1-i],list[i]

        temp = list[i]

        list[i] = list[len(list)-1-i]
        list[len(list)-1-i] = temp

    return list

In [118]:
reverse_list([1,2,3,4,5])

[5, 4, 3, 2, 1]

# 문제9
- 특정 숫자를 연속된 자연수의 합을 출력하는 함수를 생성하시오
- 인자값을 받아와서 연속된 자연수의 합이 인자값과 같은 모든 경우의 수를 리스트 형태로 출력

In [ ]:
list =[]

for i in range(1,15+1):
    sum_list=[]
    sum = 0
    for j in range(i,15):
        sum += j
        sum_list.append(j)

        if sum==15:
            list.append(sum_list)
            break
list

[[1, 2, 3, 4, 5], [4, 5, 6], [7, 8]]

In [ ]:
print(consecutive_sums(15))

[[1, 2, 3, 4, 5], [4, 5, 6], [7, 8]]

# 문제10
- 두 개의 단어가 애너그램인지 판단을 하는 함수를 생성하시오
- 두개의 매개변수에 입력이 되는 두 인자의 값이 애너그램인지 bool 형태로 출력하시오

In [132]:
def is_anagram(_word1, _word2):
    if len(_word1) != len(_word2):
        return False

    list1 = list(_word1)
    list2 = list(_word2)

    list1.sort()
    list2.sort()

    return list1 == list2

In [133]:
print(is_anagram("listen", "silent"))
print(is_anagram("hello", "world"))

True
False