In [2]:
#변수 생성
a = 10
print(a)
print(type(a))

10
<class 'int'>

# title
## title2
### title3

#### list
1. list1
2. list2
    1. sub_list1
    2. sub_list2

- list1
- list2
    - sub_list1
    - sub_list2

In [6]:
#산술 연산자
x = 10
y = 3

print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x//y)
print(x%y)
print(x^y)
print(x**y)

13
7
30
3.3333333333333335
3
1
9
1000

In [10]:
x = 10
x += 3
print(x)

13

In [11]:
x = 10
y = 5

print(x == y, x != y)

False True

### 자료형 데이터
- 여러 개의 데이터를 하나의 변수에 저장시키는 형태
- tuple
    - 자료형 데이터에서 가장 기본적인 방법
    - ()를 이용해서 데이터를 생성
    - 한 번 만들어지면 수정 불가능
- list
    - []를 이용해서 생성
    - tuple과는 다르게 각 원소들을 수정, 추가, 삭제 가능
    - list의 내장 함수를 이용해서 다음과 같은 작업 가능
    - 원소의 개수는 0개 이상으로 생성 가능
- dict
    - {} 안에 데이터를 key : value의 형태로 저장
    - list, tuple은 데이터의 위치를 기준으로 데이터 생성
    - dict는 key를 기준으로 데이터 생성
    - 원소의 개수는 0개 이상으로 생성 가능

In [12]:
#tuple 데이터 생성
tuple_a = (10, 'test')
tuple_b = (3, 3.14)
print(tuple_a)
print(tuple_b)
print(type(tuple_a))
print(type(tuple_b))

(10, 'test')
(3, 3.14)
<class 'tuple'>
<class 'tuple'>

In [14]:
print(tuple_a + tuple_b)
print(tuple_a*3)

(10, 'test', 3, 3.14)
(10, 'test', 10, 'test', 10, 'test')

In [17]:
#tuple 원소들을 따로 추출하여 출력
#python에서는 위치가 0부터 시작
print(tuple_a[0])
print(tuple_b[1])

10
3.14

In [27]:
tuple_c = tuple_a*4
#2번째부터 5번째까지 추출
print(tuple_c[1:5])
print(tuple_c[:3])
print(tuple_c[3:])
print(tuple_c[-2:])

('test', 10, 'test', 10)
(10, 'test', 10)
('test', 10, 'test', 10, 'test')
(10, 'test')

In [28]:
#list 형태 데이터 확인
list_a = [20,10,40,30]
list_b = ['abc','fi','be']
print(list_a)
print(list_b)
print(type(list_a))
print(type(list_b))

[20, 10, 40, 30]
['abc', 'fi', 'be']
<class 'list'>
<class 'list'>

In [29]:
#list 내장 함수
#정렬을 변경
#sort() 함수를 이용 -> list class 안에 존재하는 sort()함수 호출
list_a.sort()
print(list_a)
list_b.sort(reverse=True)
print(list_b)

[10, 20, 30, 40]
['fi', 'be', 'abc']

In [30]:
#순서를 역순으로 변경
#reverse()
list_b.reverse()
print(list_b)

['abc', 'be', 'fi']

In [33]:
#리스트에서 데이터를 추가하는 함수
#append(value)
list_a.append(10)
print(list_a)

[10, 20, 30, 40, 10, 10, 10]

In [ ]:
#리스트에서 가장 마지막에 있는 데이터를 제거하는 함수
#pop()
list_b 
list_b.pop()

'fi'

In [37]:
#리스트에서 사용자가 원하는 위치에 데이터 대입
#insert()
list_a.insert(3,66)
print(list_a)

[10, 20, 30, 66, 40, 10, 10, 10]

In [39]:
#특정 데이터를 제거하는 함수
#remove
#처음에 있는 값만 제거
list_a.remove(10)
print(list_a)

[20, 30, 66, 40, 10, 10, 10, 100]

In [40]:
#특정 위치에 데이터를 제거하는 함수
#del()
del list_a[2]
list_a

[20, 30, 40, 10, 10, 10, 100]

In [ ]:
list_a.append(20)
print(list_a)

In [41]:
list_a_copy = list_a.copy()
print(list_a_copy)

[20, 30, 40, 10, 10, 10, 100]

In [ ]:
list_a.pop()
print(list_a)
print(list_a_clone)
print(list_a_copy)

In [44]:
sorted(list_a)
list_a

[20, 30, 40, 10, 10, 10, 100]

In [46]:
list_a_copy.count(10)

3

In [47]:
len(list_a_copy)

7

In [48]:
dict_a = {
    "name" : 'test',
    'age' : 20,
    'phone' : '01012345678'
}
print(dict_a)

{'name': 'test', 'age': 20, 'phone': '01012345678'}

In [51]:
print(dict_a['name'])

test

In [52]:
#dict형태에 새로운 key : value 추가
dict_a['birth'] = '2000'

In [60]:
#dict에서 키값들만 출력하는 방법
print(dict_a.keys())
print(list(dict_a.keys)[0])
#dict에서 value값만 출력
print(dict_a.values())

dict_keys(['name', 'age', 'phone', 'birth'])

TypeError: 'builtin_function_or_method' object is not iterable

In [58]:
print(dict_a.items())

dict_items([('name', 'test'), ('age', 20), ('phone', '01012345678'), ('birth', '2000')])

In [61]:
#mysql databaseㄷ에서 데이터를 리드하는 경우 데이터 타입
#list 안에 dict 형태의 2차원 데이터
sample_data = [
    {
        'name':'test',
        'pwd':'1234'
    },
    {
        'name':'test2',
        'pwd':'1111'
    },
    {
        'name':'test3',
        'pwd':'2222'
     }
]

In [62]:
sample_data[1]['name']

'test2'

In [63]:
#조건문 반복문
#if문 조건식이 참인 경우, 거짓인 경우 실행되는 코드 작성
a = 10
if a > 5:
    print('a는 5보다 크다')
else :
    print('a는 5보다 작거나 같다')

a는 5보다 크다

In [64]:
score = int(
    input("점수를 입력해주세요 :")
)

In [65]:
#학점을 조건문을 이용해서 출력
if score >= 90 :
    print('A')
elif score >=80 :
    print('B')
elif score >= 70 :
    print('C')
else :
    print('F')
    
#if문이 끝나고 실행이 되는 부분
print('프로그램 종료')

F
프로그램 종료

In [69]:
#for문
#기본적인 형태
#for 변수명 in range(시작값, 종료값, 증가값)
#시작값의 기본값 (0), 증가값 기본값 (1)
for i in range(1,10,1):
    print(i, end = '\t')

1	2	3	4	5	6	7	8	9

In [71]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [73]:
list_a = [1,3,5,7,9]
for i in range(len(list_a)):
    #i가 의미하는 것은 ?0~4 -> 리스트의 index값
    print(list_a[i])

1
3
5
7
9

In [75]:
for i in list_a:
    print(i)

1
3
5
7
9

In [78]:
#while문
#초기값을 설정
i = 0
while i <=10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9
10

In [80]:
#1~10까지의 합계
result = 0
for i in range(1,11):
    result += i
print(result)

55

In [82]:
result = 0
for i in range(10):
    result += (i+1)
print(result)

55

In [84]:
i=1
result=0
while i<11:
    result += i
    i+=1
print(result)

55

In [88]:
#1부터 50까지 숫자 중에 7의 배수인 데이터들을 모두 확인하고 저장
#모든 숫자를 저장할 수 있는 공간 (list)을 생성
list_x = []
list_y = list()

for i in range (50):
    if (i+1)%7 ==0 :
        list_x.append(i+1)
    else :
        list_y.append(i+1)

print(list_x)
print(list_y)

[7, 14, 21, 28, 35, 42, 49]
[1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 41, 43, 44, 45, 46, 47, 48, 50]

In [95]:
#sample_dta에서 name의 value들만 가진 새로운 리스트 생성
sample_data

name_list =[]
for i in sample_data:
    # print(i)
    # print(type(i))
    name_list.append(i['name'])
print(name_list)

['test', 'test2', 'test3']

In [98]:
name_list = []
for i in range(len(sample_data)):
    name_list.append(sample_data[i]['name'])
print(name_list)

['test', 'test2', 'test3']

In [101]:
#continue 구문 -> 반복문으로 되돌아간다
#1부터 10까지 짝수들을 리스트로 생성
list_x = []
for i in range(1, 11, 1):
    if i%2==1:
        continue
    list_x.append(i)
print(list_x)

[2, 4, 6, 8, 10]

In [109]:
#문자열 내장 함수
test_str = "   hello world   "
test_str

'   hello world   '

In [104]:
print(test_str.upper())

   HELLO WORLD

In [106]:
print(test_str.lower())

   hello world

In [110]:
print(test_str.swapcase())

   HELLO WORLD

In [112]:
print(test_str.title())

   Hello World

In [114]:
a='Hello'
b='hello'
print(a==b)
print(a.upper()==b.upper())

False
True

In [115]:
#문자에서 시작과 종료 부분에 있는 공백을 제거하는 함수
#strip() 좌우 공백을 모두 제거
#lstrip() 좌측의 공백을 모두 제거
#rstrip() 우측의 공백을 모두 제거

In [116]:
test_str.strip()

'hello world'

In [118]:
test_str.lstrip()

'hello world   '

In [119]:
test_str.rstrip()

'   hello world'

In [124]:
#lstrip()을 활용하는 경우
#달러 표시 -> $1.00 -> 타입은 문자 --> 사칙연산 불가
#문자를 숫자로 변환
cost = "$10"
#$문자때문에 숫자로 변경할 때 에러 발생
#int(cost)
#$를 제거 좌측에 $가 있어 lstrip()을 이용해서 제거
print(cost)
print(type(cost))
print(cost.lstrip('$'))
cost2 = int(cost.lstrip('$')) 
print(cost2)
print(type(cost2))

$10
<class 'str'>
10
10
<class 'int'>

In [128]:
#10,000원 이라는 문자를 숫자로 변경
#우측에 있는 원 문자 제거
cost3 = '10,000원'
cost4 = cost3.rstrip('원')
print(cost4)
#','문자를 숫자로 변환이 불 가능 -> 에러
#print(int(cost4))
#문자열 중간에 있는 문자를 변경하는 방법
#replace(타켓문자, 변경할 문자) 함수 이용
#replace(',','')
cost5 = cost4.replace(',','')
print(cost5)
print(type(cost5))

10,000
10000
<class 'str'>

In [136]:
#replace 함수를 이용해서 문자열읙 ㅗㅇ백을 제거
a='상품a'
b='상품A'
c='상 품 a'
d='상 품 A'
print(a==b,b==c,b==d)
#a,b,c,d가 다 같은 형태로 변경
#a는 모든 문자를 대문자로 변경
a= a.upper()
c=c.replace(' ','').upper()
d=d.replace(' ','')

print(a,b,c,d)
print(a==b,b==c,b==d)

False False False
상품A 상품A 상품A 상품A
True True True

In [138]:
#문자열을 나눠주는 함수 (기본적으로 공백을 기준)
#split()
test_str2 = 'Hello World'
print(test_str2.split())

['Hello', 'World']

In [141]:
test_str3 = 'a,b,c,d,e'
print(test_str3.split(','))

['a', 'b', 'c', 'd', 'e']

In [156]:
sql = "select * from table"
sql3 = "SELECT * FROM table"
sql2 = """
    insert
    into
    table
    values
    ()
"""
print(sql)
print(sql2)

select * from table

    insert
    into
    table
    values
    ()

In [161]:
#sql, sql2 명령어
#select 명령어인 경우 select 단어 출력
#select 명령어가 아닌 경우 result 단어 출력

print(sql)
print(sql.split())
print(sql.split()[0])
print(sql.split()[0] == 'select')
#sql3에 문자는 모두 소문자로 변경 ->
# 공백을 기준으로 문자를 나눠주고
# 첫번째 문자를 추출
print(sql3.lower().split()[0] == 'select')

select * from table
['select', '*', 'from', 'table']
select
True
True

In [163]:
sql2.split()[0]

'insert'

In [172]:
#문자열의 시작이 특정한 문자와 같은가? 함수 존재
#startswith(인자값)
print(sql.startswith('select'))
print(sql3.lower().startswith('select'))
print(sql2.lstrip().startswith('insert'))

True
True
True

In [175]:
#문자의 마지막이 특정한 문자와 같은가?
file_path = [
    '../csv/test.csv',
    '../csv/test2.xlsx',
    '../csv/test3.json',
    '../csv/test5.csv'
    ]

for i in file_path:
    #파일의 경로 중 확장자가 csv인 데이터만 출력
    if i.endswith('.csv'):
        print(i)

../csv/test.csv
../csv/test5.csv

In [179]:
#startswith가 어떻게 우리한테 결과값을 줄까?
#특정한 입력값을 받고, 입력값이 있는가 없는가 확인
#'select'값으로 시작하는가?
#특정 문자에서 처음부터 7번째 전까지의 문자 추출
#위에서 나온 결과인 문자열과 'select'가 같은가 비교

text = 'select'
sql[:len(text)] == text

True

In [190]:
#endswith가 어떻게 작동할까?
text2 = '.csv'
file_path2 = '../csv/test.csv'
file_path2[-len(text2):] == text2

True

In [234]:
dict_text = {
    'name' : ['test','test2','test3'],
    'age' : [20,30,40]
}
#dict안에 list로 되어있는 데이터의 형태를 
#list안에 dict로 변경[{'name':'test','age':20},{'name':'test2'}]

result = [{},{},{}]
for i in dict_text:
    print(dict_text[i])
    for j in range(len(dict_text[i])):
        # result[j][i].append({dict_text[i][j]})
        result[j][i] = dict_text[i][j]
        
print(result)

['test', 'test2', 'test3']
[20, 30, 40]
[{'name': 'test', 'age': 20}, {'name': 'test2', 'age': 30}, {'name': 'test3', 'age': 40}]

In [235]:
for i in dict_text:
    for j in range(len(dict_text[i])):
        if len(dict_text[i]) > len(result):
            result.append({})
        result[j][i] = dict_text[i][j]
        print(result)

[{'name': 'test', 'age': 20}, {'name': 'test2', 'age': 30}, {'name': 'test3', 'age': 40}]
[{'name': 'test', 'age': 20}, {'name': 'test2', 'age': 30}, {'name': 'test3', 'age': 40}]
[{'name': 'test', 'age': 20}, {'name': 'test2', 'age': 30}, {'name': 'test3', 'age': 40}]
[{'name': 'test', 'age': 20}, {'name': 'test2', 'age': 30}, {'name': 'test3', 'age': 40}]
[{'name': 'test', 'age': 20}, {'name': 'test2', 'age': 30}, {'name': 'test3', 'age': 40}]
[{'name': 'test', 'age': 20}, {'name': 'test2', 'age': 30}, {'name': 'test3', 'age': 40}]