### Class 선언
- class 키워드를 이용하여 class 선언
- class 이름은 일반적으로는 첫글자는 대문자로 표기

### Class 생성
- 선언이 된 class를 변수에 저장하는 과정
- 선언이 된 같은 class를 여러 변수에 저장하여 따로 관리 가능

### Class 내부의 변수와 함수를 호출
- class가 저장되어 있는 변수 안에(.) 변수와 함수를 호출

In [1]:
# 가장 기본적인 class 하나 선언
class Test:

    # 생성자 함수 (초기화 함수) : 매개변수 self는 필수항목
    def __init__(self, _name, _birth):
        # 자기 자신의 공간에 변수를 생성
        self.name = _name
        self.birth = _birth

In [2]:
# class를 생성 -> 변수를 만들어서 변수 안에 class를 저장
# class가 생성될때 __init__()함수는 자동으로 처음에 한번만 실행
# 매개변수가 3개 
# self -> 인자값을 따로 안 넣어도 된다. 
# (first_class변수의 주소값이 자동으로 입력)
# _name, _birth 두개의 매개변수는 인자값이 필요
first_class = Test('kim', '19901010')

In [3]:
# Test class 다른 변수에 생성
second_class = Test('park', '19950505')

In [4]:
# 생성된 class 두개에서 name이라는 변수를 호출 
print(first_class.name)
print(second_class.name)

kim
park

In [5]:
print(first_class.birth)

19901010

In [6]:
print(second_class.birth)

19950505

In [7]:
# class 선언
# 생성자 함수에서 2개의 변수를 생성
# 함수 3개 생성 
# 첫번째 함수 생성자 함수에서 만든 변수 두개의 합을 되돌려주는 기능
# 두번째 함수 생성자 함수에서 만든 변수 두개의 차를 되돌려주는 기능
# 세번재 함수 생성자 함순에서 만든 변수 두개의 곱을 되돌려주는 기능
class Test2:
    # 생성자 함수
    def __init__(self, _x, _y):
        self.x = _x
        self.y = _y

    # 첫번째 함수 생성 
    def add(self):
        # class 내부에서 저장되어 있는 두개의 변수를 더한다. 
        result = self.x + self.y
        # 계산된 결과를 되돌려준다. 
        return result

    def sub(self):
        result = self.x - self.y
        return result

    def multi(self):
        result = self.x * self.y
        return result

In [8]:
# class 생성
class_1 = Test2(456, 123)
class_2 = Test2('abc', 'def')

In [9]:
# class_1에 있는 x는 456 y는 123
# class 안에 있는 함수를 호출
# class 안에 add()함수는 매개변수 self가 존재 
# 인자 값은 몇개? 0
# self 매개변수에는 class_1의 주소값이 입력
# self.x + self.y ==> 456+123
class_1.add()

579

In [10]:
# self에는 class_2의 주소가 입력
# class_2에 있는 x라는 변수는? 'abc'
# class_2에 있는 y라는 변수는? 'def'
class_2.add()

'abcdef'

In [11]:
class_1.sub()

333

In [12]:
class_2.sub()

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [ ]:
class_1.multi()

56088

In [14]:
class_2.multi()

TypeError: can't multiply sequence by non-int of type 'str'

In [15]:
# class 변수가 존재하는 class 선언
class Users:
    # 클래스 변수 생성
    user_list = []

    # 생성자 함수 
    def __init__(self, _name, _age):
        self.name = _name
        self.age = _age
        self.user_list.append(_name)
    
    # 함수 하나 생성 
    def view_user(self):
        print("회원의 이름은", self.name, '나이는', self.age, 
        "세 입니다.")
        print(f"등록된 회원의 목록은 {self.user_list}입니다")

In [16]:
# 유저 등록 -> class 생성
user_1 = Users('kim', 20)
# user_1 안에 있는 name이라는 변수에 'kim' 저장 
# user_1 안에 있는 age라는 변수에 20 저장 
# user_1 안에 있는 user_list에 'kim' 추가가
user_2 = Users('park', 30)
# user_2 안에 있는 name이라는 변수에 'park' 저장
# user_2 안에 있는 age라는 변수에 30 저장 
# user_2 안에 있는 user_list에 'park' 추가가

In [17]:
user_1.view_user()

회원의 이름은 kim 나이는 20 세 입니다.
등록된 회원의 목록은 ['kim', 'park']입니다

In [18]:
user_2.view_user()

회원의 이름은 park 나이는 30 세 입니다.
등록된 회원의 목록은 ['kim', 'park']입니다

In [22]:
user_3 = Users('lee', 15)

In [23]:
user_1.view_user()

회원의 이름은 kim 나이는 20 세 입니다.
등록된 회원의 목록은 ['kim', 'park', 'lee']입니다

In [24]:
user_3.view_user()

회원의 이름은 lee 나이는 15 세 입니다.
등록된 회원의 목록은 ['kim', 'park', 'lee']입니다

In [25]:
class User:
    cnt = 0

    def __init__(self, name):
        self.name = name
        self.cnt += 1

In [26]:
user_5 = User('kim')
user_6 = User('park')

In [27]:
# 클래스 변수에 단순 데이터 타입은 공유가 되지 않는다. 
# 리스트나 딕셔너리형태의 데이터를 클래스 변수로 이용
user_5.cnt

1