- mysql table을 생성
    - user 테이블 생성
        - id 필드 : varchar(32) primary key
        - password 필드 : varchar(32) not null
        - name 필드 : varchar(32)
        - age 필드 : int
    - user 테이블 데이터 대입
        - test/1234/kim/20
        - test2/1111/park/30
        - test3/0000/lee/40

In [ ]:
create database mysql_table;

create table user(
    `id` varchar(32) primary key,
    `password` varchar(32) not null,
    `name` varchar(32),
    `age` int
);

insert into user
values('test','1234','kim','20'),
('test2','1111','park','30'),
('test3','0000','lee','40');

desc user;